<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://quickcart-function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b9954c35-a3fa-4fa9-b7f1-d1d96cd47a62/resourceGroups/RG-Quickcart/providers/Microsoft.Web/sites/Quickcart-Function</ResourceId>
    <UserName>$Quickcart-Function</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://quickcart-function.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>